In [3]:

a = -4

b = -2
c = a<b
print(a)
print(b)
print(c)

-4
-2
True

In [3]:
_a = 2
print(_a)
x = 3
id(x)

2

140712326019576

In [9]:
x = 3
print(id(x))
x = 5
print(id(x))

140712326019576
140712326019640

In [17]:
'''This is multilined
string
'''

'This is multilined\nstring\n'

In [19]:
print('This is multilined\nstring\n')

This is multilined
string

In [1]:
# Control folw statements

In [14]:
# If conditions and nested ifs
age = int(input())

if age > 18:
    if age >= 70:
        print("You cannot drive")
        print("You can hire a driver")
    else:
        print("You are eligibel to drive")
        print("Drive slowly")
else:
    print("You are not eligibel to drive")
    print("Wait till you are 18")

 11

You are not eligibel to drive
Wait till you are 18

In [34]:
name = input()

if name [0] == 'S' or name [0] == 's':
    print("It may be your name")
elif name [0] == 'P' or name[0] == 'p':
        print("It is your intial")
else:
    print("It is not your name")

 r

It is not your name

In [40]:
name = input()

if name [0] == 'S' or name [0] == 's':
    if name[1].lower() == 'a':
        print("There is higher possibility of your name")
    else:
        print("It may be your name")
elif name [0] == 'P' or name[0] == 'p':
        print("It is your intial")
else:
    print("It is not your name")

 sa

There is higher possibility of your name

In [15]:
del print

In [17]:
# Highest value
name = input()
name  = [ord(i) for i in name]
print(name)
highest_value = name[0]
for i in name:
    if i > highest_value:
        highest_value = i
print(highest_value)
print(chr(highest_value))

 Sakthivel

[83, 97, 107, 116, 104, 105, 118, 101, 108]
118
v

In [19]:
# Loops in Python
# While loop
i = 1
while i <= 5:
    print("I am learning Python")
    i += 1

I am learning Python
I am learning Python
I am learning Python
I am learning Python
I am learning Python

In [25]:
# Print 1 to 10 using loop
i = 0
while i <= 10:
    print(i,end = " ")
    i += 1

0 1 2 3 4 5 6 7 8 9 10

In [29]:
# Print numbers from 1 to N
n = int(input())
i = 1
while i<=n:
    print(i, end = " ")
    i += 1

 12

1 2 3 4 5 6 7 8 9 10 11 12

In [31]:
# Print numbers from N to 1 (reverse order)
n = int(input())
i = n
while i >= 1:
    print(i, end=" ")
    i -= 1

 12

12 11 10 9 8 7 6 5 4 3 2 1

In [33]:
# Print even numbers from 1 to N
n = int(input())
i = 2
while i <= n:
    print(i,end=" ")
    i += 2

 15

2 4 6 8 10 12 14

In [37]:
# Sum of numbers from 1 to N
n = int(input())
i = 1
total = 0
while i <= n:
    total += i
    i += 1
print(total)

 5

15

In [47]:
# Count digits in a number
n = int(input())
count = 0
while n>0:
    n = n // 10 # This integer division removes the last number of the given digits and every time it removes a digit we add 1 to the count
    count+=1
print(count)

 12

2

In [9]:
num=2025
last_digit = num%10
print(last_digit)

5

In [11]:
num=2025
last_digit = num //10
print(last_digit)

202

In [13]:
# Reverse a number
num = int(input())
rev = 0
while num > 0:
    digit = num % 10 # This gives us the last digit of given numbers
    rev = rev * 10 + digit # This reverses the number
    num = num // 10
print("Reversed number :",rev)

 1999

Reversed number : 9991

In [17]:
# Check if a number is palindrome
num = int(input())
original = num
rev = 0
while num > 0:
    digit = num % 10 # This gives us the last digit of given numbers
    rev = rev * 10 + digit # This reverses the number
    num = num // 10
if original == rev:
    print("Given number is palindrome")
else:
    print("Not a palindrome")

 1234

Not a palindrome

In [35]:
# multiplication using for loop
n = int(input())
for i in range(1,11):
    print(f"{n}x{i}={i*n}")

 5

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [37]:
# Print numbers from 1 to N
n = int(input())
for i in range(1,n+1):
    print(i)

 10

1
2
3
4
5
6
7
8
9
10

In [49]:
# Print even numbers between 1 and N
n = int(input())
for i in range(1,n+1):
    if i % 2 == 0:
        print(i)

 10

2
4
6
8
10

In [61]:
# Print the sum of first N numbers
n = int(input())
for i in range(1,n+1):
    print(sum(range(1,n+1)))

 5

15
15
15
15
15

In [65]:
# Print multiplication table of a number (1 to 10)
n = int(input())
for i in range(1,11):
    print(f"{i}x{n}={i*n}")

 5

1x5=5
2x5=10
3x5=15
4x5=20
5x5=25
6x5=30
7x5=35
8x5=40
9x5=45
10x5=50

In [73]:
# Print the factorial of a number using for loop
n = int(input())
fact = 1
for i in range(1,n+1):
    fact *= i
    print(fact)

 4

1
2
6
24

In [ ]:
# Reverse a string using a for loop (without slicing)
a = input()
rev = ""
for i in a:
    rev = i + rev
print(rev)

In [113]:
# Count vowels in a string
a = input()
count = 0
vowels = ["a","e","i","o","u"]
for i in a.lower():
    if i in vowels:
        count += 1
        print(i,end=" ")
        
print("\nVowels count:",count)

 sakthivel

a i e
Vowels count: 3

In [ ]:
# Print square of each number from 1 to N
n = int(input())
for i in range(1,n+1):
    print(i**2)

In [123]:
# ✴️ Print this pattern:
n = int(input())
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()

 4

*
* *
* * *
* * * *

In [135]:
# Check if a number is prime using for loop
n = int(input())
if n<=1:     # 
    print("Not Prime")
else:
    is_prime = True
    
    for i in range(2,n):
        if n%i == 0:
            is_pirme = False
            break
    if is_prime:
        print("A Prime")
    else:
        print("Not Prime")

 5

A Prime

In [11]:
# Reverse Number Triangle Pattern
n = int(input())
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [17]:
# Print Characters and Their ASCII Values
a = input()
for i in a:
    print(f"{i}={ord(i)}")

 cat

c=99
a=97
t=116

In [ ]:
# Function

In [5]:
def sum(a,b): # Here (a,b) is parameters
    c= a+b
    print(c)

In [11]:
a = sum(1,2) # Here (1,2) are called arguments

3

In [13]:
print(type(a))

<class 'NoneType'>

In [17]:
def sum(a,b): # Here (a,b) is parameters
    c= a+b
    return c

In [7]:
# Return VS print
def egg(a,b):
    c = a + b
    print(c)

In [19]:
b = sum(1,2)
print(b,type(b))

3 <class 'int'>

In [19]:
x = egg(3,4)
print(x)
print(type(x))
type(print(7))

7
None
<class 'NoneType'>
7

NoneType

In [25]:
#Return Statement
def result():
    print("Before return statement")
    return "Sakthivel"   # It stops program here and returns the value to the function
    print("After return statement")

In [26]:
result()

Before return statement

'Sakthivel'

In [35]:
a = result()
#print(a)

Before return statement

In [31]:
a

'Sakthivel'

In [3]:
def intro(name,age,place):
    return name,age,place

In [5]:
a,b,c =intro("Sakthivel",26,"Bangalore")

In [9]:
print(a,b,c)

Sakthivel 26 Bangalore

In [15]:
d = intro("Sakthivel",26,"Bangalore")

In [17]:
print(d)

('Sakthivel', 26, 'Bangalore')

In [7]:
intro("Sakthivel",26,"Bangalore")

('Sakthivel', 26, 'Bangalore')

In [37]:
# Variables
global_var = "This is global variable"
def run_now():
    local_var = "This is local variable"
    print(local_var)
    print(global_var)

run_now()
print(global_var)
print(local_var)

This is local variable
This is global variable
This is global variable

NameError: name 'local_var' is not defined

In [21]:
a = 5
def func():
    b= 4
    print(b)

In [23]:
print(a)
func()

5
4

In [27]:
a = 5
def func():
    global a
    a = 4
    print(a)

In [29]:
print(a) # Here it prints global variable a = 5
func() # After printing value, the function func() will be deleted after it changes the value of a
print(a)  # Since we mentioned that global a its value will be changed to 4

5
4
4

In [31]:
# Lambda Functions
def add(a,b):
    return a+b

In [33]:
add(4,6)

10

In [37]:
(lambda a,b : a+b)(6,4)

10

In [65]:
func = lambda a,b : a+b

In [67]:
func(1,2)

3

In [1]:
def greater(a,b):
    if a > b:
        return a
    else:
        return b

In [3]:
greater(5,8)

8

In [5]:
(lambda a,b : a if a>b else b)(8,12)

12

In [11]:
larger = lambda a,b : a if a>b else b

In [13]:
larger(12,23)

23

In [27]:
lst = [(12,22),(3,41),(19,5)]

In [29]:
lst.sort() # Sorted according to the first element of the tuple [0]

In [31]:
lst

[(3, 41), (12, 22), (19, 5)]

In [21]:
# To sort according to second element[1]
def k(x): 
    return x[1]

In [23]:
lst.sort(key = k)

In [25]:
lst

[(19, 5), (12, 22), (3, 41)]

In [33]:
# To sort according to second element[1] using lambda function
lst

[(3, 41), (12, 22), (19, 5)]

In [35]:
lst.sort(key = lambda x : x[1])

In [37]:
lst

[(19, 5), (12, 22), (3, 41)]

In [31]:
# Print even function
def even(li):
    for a in li:
        if a%2 != 0:
            print(a)

In [27]:
lis = [1,2,3,4,5,6,7,8,9]

In [33]:
even(lis)

1
3
5
7
9

In [71]:
# Return list with unique numbers
lst = [1,2,4,3,2,1,5]
def uni(lst):
    new = []
    for i in lst:
        if i not in new:
            new.append(i)
    return new

In [85]:
uni(lst)

[1, 2, 4, 3, 5]

In [83]:
a = uni(lst)
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [89]:
b = sorted(uni(lst))
print(b)

[1, 2, 3, 4, 5]

In [102]:
# Positional arguments
def into(a,b):
    print(a)
    print(b)

In [104]:
into(5,9)

5
9

In [106]:
# Default arguments
def into(a,b=0):
    print(a)
    print(b)

In [108]:
into(8)

8
0

In [112]:
def intro(name="Sakthivel",age=26):
    print(name)
    print(age)

In [114]:
intro()

Sakthivel
26

In [118]:
# Default argument cannot follwed by non-default argument
def intro(name="Sakthivel",age=26, a):
    print(name)
    print(age)

SyntaxError: parameter without a default follows parameter with a default (483606190.py, line 2)

In [120]:
a = 5
b = 4
c = 3
d = a + b

In [122]:
print(d)

9

In [126]:
d + 1

10

In [128]:
_ + c

TypeError: can only concatenate str (not "int") to str

In [1]:
9+1

10

In [6]:
_+5

TypeError: can only concatenate str (not "int") to str

In [8]:
print(_)

{"dataframes": [], "user": "HP"}